body {
    background-color: skyblue;
}

div {
    width: 200px;
    height: 200px;

    margin: 100px;

    display: inline-block;

    background-color: green;
}

#box1 {
    /* animation-name: brotate;
    animation-duration: 3000ms;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */

    background-color: blue

}

@keyframes brotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#box2 {
    position: relative;
    background-color: crimson;

    animation-name: shrug;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes shrug {
    0% {
        transform: perspective(60px) rotateY(-40deg);
        background-color: deepskyblue;
    }

    50% {
        transform: perspective(300px) rotateY(0);
        /* backgroud-color: crimson; */
    }

    100% {
        transform: perspective(100px) rotateY(40deg);
        background-color: crimson;
    }
}

#box3{
    position: relative;

    bottom: 400px;

    background-color: rgba(148, 21, 244, 0.47);
    z-index: 1;

    border: 1px solid rgba(148, 21, 244, 0.7);


}
