body {
  font-family: 'Julius Sans One', sans-serif;
  color: #f7f7f7;
}

/* LANDING PAGE */
.landing-container {
  margin-top: 45vh;
  text-align: center;
}
#button-01:hover ~ .banish {
  color: #dbdbdb;
}
#button-02:hover ~ .air-01 {
  color: #b9bbce;
}
#button-03:hover ~ .from {
  color: #cecece;
}
#button-04:hover ~ .air-01 {
  color: #b9c1ce;
}
#button-05:hover ~ .enter {
  color: #b58080;
}
/* BUTTON HOVER SHADOW */
.button:hover {
  box-shadow: 0px 0px 6px #cecece;
}

/* MAIN POEM */
.poem-container {
  min-height: %100;
  display: grid;
  grid-template-rows: 1fr auto;

  text-align: center;
  color: #9098a5;
}
